.analytics {
  display: grid;
  background: linear-gradient(180deg, rgba(37,39,77,1) 0%, rgba(41,101,138,1) 100%);
}

.analytics__body {
  min-height: calc(100vh - 7rem);
  justify-self: center;
  margin: 5rem 0;
  width: 70%;
}