.date-pickers {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, min-content);
  grid-column-gap: 2rem;
  margin-bottom: 4rem;
  align-items: center;
}

.date-picker__input {
  background-color: $color-ternary;
  color: $color-secondary;
  font-size: 2rem;
  font-family: Montserrat;
  padding: .5rem 1rem
}

.date-picker__btn {
  color: $color-primary;
  font-size: 2rem;
  font-family: Montserrat;
  cursor: pointer;
  background-color: $color-ternary;
  padding: .5rem 1rem;
  border-radius: 2rem;
}